# Dolby Vision Display Management Configuration File
# Path : /my_product/etc/dolby_vision.cfg
#Date: 2026/2/10
#Brand_Model: OPPO OPD2511 OPD2511

#[DisplayStart]
[Display]
ID = 0

[Global]
DoViBrightPicModeIndex = 0
#IDK_Version = SW_5.0
IDK_Version = SW_4.5.2
DefaultOutputFormat = YUV

Tmax = 650
Tmin = 0.1
TPrimaries = 0.6759 0.3194 0.266 0.6827 0.1403 0.0595 0.3127 0.329
TEOTF = POWER
Tgamma = 2.2

#BLUBrightness = 448.0 1332.0 1995.0 2879.0 3542.0
#BLUPwm = 59.5311 175.044 218.5092 218.5092 221.0623
#BLULight = 39.1259 403.3391 634.1279 634.6288 650.0
#BLULightMin = 0.1 0.1 0.1 0.1 0.1

Ambient = 0
TSurroundReflection = 0.5
TScreenReflection = 0.0005
ALDelayMilliSec = 50
ALResponseFall = 0.004
ALResponseRise = 0.02
ALOperationalRate = 50
TFrontLux = 1000
TFrontLuxScale = 1

[PictureMode = 0]
PictureModeName = Dolby Vision Bright
DBrightness = 0.3

[PictureMode = 1]
PictureModeName = Dolby Vision Vivid
DBrightness = 0.3
DSaturation = 0.1

[PictureMode = 2]
PictureModeName = Dolby Vision Dark
SupportsDM3 = 1
Ambient = 0

[Display]
ID = 10

[Global]
DoViBrightPicModeIndex = 0
#IDK_Version = SW_5.0
IDK_Version = SW_4.5.2
DefaultOutputFormat = YUV

Tmax = 650
Tmin = 0.1
TPrimaries = 0.6759 0.3194 0.266 0.6827 0.1403 0.0595 0.304 0.319
TEOTF = POWER
Tgamma = 2.2

#BLUBrightness = 448.0 1332.0 1995.0 2879.0 3542.0
#BLUPwm = 59.5311 175.044 218.5092 218.5092 221.0623
#BLULight = 39.1259 403.3391 634.1279 634.6288 650.0
#BLULightMin = 0.1 0.1 0.1 0.1 0.1

Ambient = 0
TSurroundReflection = 0.5
TScreenReflection = 0.0005
ALDelayMilliSec = 50
ALResponseFall = 0.004
ALResponseRise = 0.02
ALOperationalRate = 50
TFrontLux = 1000
TFrontLuxScale = 1

[PictureMode = 0]
PictureModeName = Dolby Vision Bright
DBrightness = 0.3

[PictureMode = 1]
PictureModeName = Dolby Vision Vivid
DBrightness = 0.3
DSaturation = 0.1

[PictureMode = 2]
PictureModeName = Dolby Vision Dark
SupportsDM3 = 1
Ambient = 0

#[DisplayEnd]